/.vs/config/applicationhost.config
/.vs/MvcTaskManager/v15/.suo
/.vs/MvcTaskManager/v15/Server/sqlite3/db.lock
/.vs/MvcTaskManager/v15/Server/sqlite3/storage.ide
/.vs/MvcTaskManager/v15/Server/sqlite3/storage.ide-shm
/.vs/MvcTaskManager/v15/Server/sqlite3/storage.ide-wal
/MvcTaskManager.sln
